@import "tailwindcss";

* {
  font-family: "Cormorant Garamond", serif;
  font-weight: 500;
}

body {
  background-image: url('/strona-slubna/photos/bg-texture.jpg');
  background-repeat: repeat;
  background-size: 1000px 1000px;
}